.Products {
  position: relative;
  margin: var(--margin-l);
}

.Products > header {
  border-bottom: solid 1px var(--theme-border);
  padding: var(--margin-s) 0;
}

.Products > header > h1 {
  text-align: center;
  font-size: 2rem;
}

.Products-list-loading {
  margin: var(--margin-l) auto;
}
